---
---

<header class="bg-white shadow-lg fixed w-full top-0 z-50">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-6">
      <div class="flex-shrink-0">
        <img src="/Logo1.png" alt="SDL Logo" class="h-12 w-12">
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <a href="#inicio" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
          <a href="#sobre-mi" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Sobre mí</a>
          <a href="#proyectos" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Proyectos</a>
          <a href="#contacto" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
</header>